@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jordan's Guessing Game</h1>
    <p class="lead">This is a guessing game where the user input his/her name along with their guess 1-10. Then they are instructed whether they should guess higher or lower. When they guess correctly they are shown the number of guesses it took them to get it correct as well as how the computer scored against them.</p>
</div>